section: .wrapper
  h1= pageTitle
  p
    .imgr: img(src='/images/stories/becca.jpg')
    | I'm a telecommuter of sorts, and occasional small biz refugee. I believe 
    | in the value of being surrounded by smart, driven people that by their 
    | presence supports me to do better work. Fuse SPC fills a need for the 
    | Tri-Cities community, beyond myself. It is a place to belong, to 
    | contribute to, and to be productive at, with others.
  p
    | After quitting my corporate job, I worked from home for a year. However, 
    | as time went on, I started to realize that I missed the interaction with 
    | other people and the water cooler conversations that working from home 
    | just doesn't provide. I just wasn't feeling as inspired in my 
    | surroundings, and also found myself getting distracted. I would 
    | frequently work from local coffee shops, but was starting to feel that I 
    | was overstaying my welcome. While technology these days allows the 
    | ability to work 100% of the time from home, human face-to-face 
    | interaction cannot be replicated. I also wanted to encourage others in 
    | their pursuits and be a part of a contributing group of people that I 
    | believe are making a positive impact on our community and making the 
    | Tri-Cities a better place to live and work.
  p
    | Room to Think, my first experience with coworking, opened my eyes to the 
    | value and benefits of coworking, and I knew coworking was the place for 
    | me as soon as I met the community. Fuse provides the place and framework 
    | for a community that encourages me to get involved, contribute through 
    | the use of my personal skill sets, and also helps me to be a better 
    | worker through the motivation I feel from being surrounded by smart, 
    | hard-working and passionate people. It's great to see what others are 
    | doing and accomplishing, and be in an environment where we can celebrate 
    | collective successes. I'm excited about where coworking is today and 
    | where it is headed through Fuse, and enjoy being a part of something that 
    | is so innovative and beneficial to so many. I love Fuse's social purpose 
    | focus and community spirit. I'll be a hot-desk coworker, and plan to 
    | enjoy the benefits of interaction with others and new creative ideas from 
    | being surrounded by so many inspiring individuals that will help me be a 
    | better online educator for the university I work for part time and more 
    | productive employee for Flex.

