section: .wrapper
  h1= pageTitle
  p
    .alignr: img(src='/images/stories/brett.jpg')
    | A serial entrepreneur - Brett discovered the Tri-Cities Startup Community 
    | through the Fall 2013 Tri-Cities Startup Weekend. Since then he's taken 
    | an active and visionary leadership role in helping to grow the startup 
    | community in the Tri-Cities. When he is not coworking out of his office 
    | at Fuse SPC as a Business Attorney and founder of Gravis Law, PLLC "day 
    | job"; he is rolling up his sleeves to work at his local solar-powered 
    | distillery or working on his next software product at Inigo, LLC. Outside 
    | of the office he found spending time with his wife and daughter, looking 
    | for good lunch conversation, mountain biking, or writing science fiction. 
    | Brett dreams of a downtown Richland, unified Tri-Cities, and the local 
    | commercialization of space technology. He plans to see them all become a 
    | reality in his lifetime.
