section: .wrapper
  h1= pageTitle
  p
    | It was early 2011. I had just  started my freelancing business and was 
    | navigating the waters as a fledgeling entrepreneur. I heard from my friends 
    | Adam and Adam about a get-together they had each week called "Chikipah 
    | Tuesday" (which actually was on Thursday, but that's another story). They 
    | would meet to work and discuss challenges with their businesses.
    | I loved the idea of meeting regularly with someone I could trust and grow 
    | with professionally. So I sent out a Tweet inviting others to join me for 
    | coffee one morning and two people showed up. I thought, "Wow! This is 
    | awesome." So I did it again the following week, and the next, and the next. 
    | There was a real need here, and it wasn't unique to me.
  p
    | It wasn't long before I stopped feeling like a fish out of water.
    | Our group realized that coffee shops weren't a long term solution to the 
    | creative cluster of people we had formed. Our next interim would be the 
    | Richland library, which kept us held over for several months (thanks Ann 
    | for letting us use your conference room for so long).
    | At the end of 2012 we hit critical mass and our informal group put pen to 
    | paper and founded Room to Think, the Tri-Cities first "official" coworking 
    | space. We had over 30 members and hosted on average 3-4 events per week. 
    | For me, it was a labor of love helping run the space for the year we were 
    | in business.
  p
    | The connections I made with people during this journey will last with me 
    | for the rest of my life. The past three years have been filled with more 
    | life change and personal growth than any other period of my life. Without 
    | the friendships I formed through coworking, I doubt I would have weathered 
    | life as well as I have.
  p
    | For me, coworking isn't just about work. It's a way of life. You see the 
    | people around you for who they are, and they see you. It's a way to connect 
    | in a world that craves connection.
