section: .wrapper
  h1= pageTitle
  p
    .alignr: img(src='/images/stories/erik.jpg')
    | When I first found coworking, I was a corporate refugee. I had met people 
    | in the community at events, but my day-to-day work was the usual 9-to-5 
    | fluorescent lit grind. Once I got a taste of coworking, I knew I had 
    | found my oasis where I could be more productive while being myself. I was 
    | taking my work into a place infused with passion and creativity rather 
    | than meetings and politics.
  p
    | Coworking was also a place of opportunity. For the entire year of Room to 
    | Think being open, every good thing that happened to me professionally 
    | sprouted from something I did or someone I met within the walls of the 
    | coworking space: finding the people and making the plan for Tri-Cities 
    | Startup Weekend, various freelance opportunities, and two jobs that each 
    | really advanced my career. Coworking is not about shared office space, 
    | it's about making a dynamo of serendipity, and that wheel can turn for 
    | anyone who just takes the step inside.
