section: .wrapper
  h1= pageTitle
  p
    .alignr: img(src='/images/stories/tanya.jpg')
    | After spending an entire career as a programmer, team lead, and project 
    | manager in companies all around the country, October 1, 2013 I was 
    | suddenly without a job and with no desire to ever working for someone 
    | else again. I was free to be me and have been enjoying every minute. 
    | My projects have been rewarding in amazing ways. I now have the 
    | entrepreneur bug and am rewiring my mind to focus on what I want to do 
    | and how I want to do it. 
  p
    | But&hellip;
  p
    | None of that would have been possible without the tech community that 
    | grew up around &amp;Yet, Room to Think, Flex {code space}, and now Fuse 
    | SPC. Spending many hours with the Collaboratives, the Doctypists, and 
    | laptop nomads has given me the supportive community where I can spread 
    | my wings. 
  p
    | Now that Girl Develop It TriCities is starting to take off, it’s great to 
    | have a home base to meet with member, instructors, and sponsors. I did 
    | the math and realized that a full hot desk membership is cheaper than two 
    | coffee drinks per day! 
  p
    | Many of the co-worker core group are dear friends and collaborators on 
    | various projects. They are the folks I love to work with, play board 
    | games with, dream with, and bounce off the most outlandish ideas that 
    | somehow become realities. 
  p
    | "Give before you get" gets you everything you need. Co-working is how it 
    | happens. 