section.mailchimp
  h2 Get Fuse updates and event notifications
  form(method='post', action='')
    input(type='text', name='FNAME', placeholder='Name')
    input(type='email', name='EMAIL', placeholder='Email')
    button.secondary.iconr.envelope Subscribe
