section.mailchimp
  h2 Get Fuse updates and event notifications
  form(method='post', action='//fusespc.us8.list-manage.com/subscribe/post?u=9273fce6e359cda5b326b5f74&amp;id=f9514692b3')
    input(type='text', name='FNAME', placeholder='Name')
    input(type='email', name='EMAIL', placeholder='Email')
    button.secondary.iconr.envelope Subscribe
