section: .wrapper
  h1= pageTitle

  .block.twocol
    blockquote.col1
      h3 Coworking
      p
        a(href="/coworking") Coworking
        |  is a collaborative form of working, where individuals work on
        | their own businesses and projects in a shared environment. We refer 
        | to coworking as being "productive together".
    blockquote.col2
      h3 Membership
      p
        a(href="/membership") Monthly memberships
        |  are tiered based on space use needs of the individual: private 
        | offices, fixed (permanent) desks, hot desks (first-come-first-serve), 
        | nights &amp; weekends, and basic community supporters with events 
        | access.

  h2 Social Purpose
  p
    | Fuse SPC is a Social Purpose Corporation (one of only about 100 in the
    | state and possibly the first SPC in the Tri-Cities). As a Social Purpose 
    | Corporation, we keep in mind our social purpose when making business 
    | decisions. Unlike a traditional corporation, we do not exist primarily 
    | to make money for our shareholders (who are all members of the Tri-Cities 
    | community).
  .block.twocol
    blockquote.col1
      h3 Social Goals
      p
        | Support growth and champion enthusiasm through ideas, abilities, and 
        | resources of the entrepreneurial community. 
    blockquote.col2
      h3 Business Goals
      p
        | Provide coworking environments and resources for nomadic workers, 
        | nontraditional employees, startups and small businesses. Positively 
        | influence the community by championing people, ideas, collaboration, 
        | education, and fun.
