section: .wrapper
  h1= pageTitle
  .block.threecol
    blockquote.col1
      h3 Brett Spooner
      p: a(href='/stories/brett') My story
    blockquote.col2
      h3 Becca Lingley
      p: a(href='/stories/becca') My story
    blockquote.col3
      h3 Ceci Lopez
      p 
  .block.threecol
    blockquote.col1
      h3 Adam Brault
      p
    blockquote.col2
      h3 Erin Schmidt
      p 
    blockquote.col3
      h3 Ty Mulholland
      p 
  .block.threecol
    blockquote.col1
      h3 Bruce Schmoetzer
      p
    blockquote.col2
      h3 Erik Ralston
      p: a(href='/stories/erik') My story
    blockquote.col3
      h3 Tanya Lasuk
      p: a(href='/stories/tanya') My story
