section: .wrapper
  h1= pageTitle
  .block.threecol
    blockquote.col1
      h3 Brett Spooner
      p
        strong President
        | <br>Finance, Operations

    blockquote.col2
      h3 Ty Mulholland
      p
        strong Vice President
        | <br>Marketing

    blockquote.col3
      h3 Tanya Lasuk
      p
        strong Chairwoman
        | <br>Operations (lead), Marketing, Policy

  .block.threecol
    blockquote.col1
      h3 Becca Lingley
      p
        strong Secretary
        | <br>Operations

    blockquote.col2
      h3 Bruce Schmoetzer
      p
        strong Member
        | <br>Facilities (lead), Operations

    blockquote.col3
      h3 Erin Schmidt
      p
        strong Member
        | <br>Policy

  .block.threecol
    blockquote.col1
      h3 Erik Ralston
      p
        strong Member
        | <br>Events (lead)

    blockquote.col2
      h3 Ceci Lopez
      p
        strong Member
        | <br>Finance

    blockquote.col3
      h3 Adam Brault
      p
        strong Member
        | <br>Policy

  h1 Non-Board Officers
  .block.threecol
    blockquote.col1
      h3 Kyle Kraemer
      p
        strong Treasurer
        | <br>Finance (lead), Operations, Facilities
