section: .wrapper
  h1= pageTitle
  p
    | At it's core, coworking is community. The label applies to an intentional 
    | effort to build connection through a shared work environment and event 
    | space. Though typically comprised of startups, freelancers, and 
    | telecommuters, members of these free-form spaces find value in the human 
    | connection that coworking cultivates.
