section: .wrapper
  h1= pageTitle
  p
    | At it's core, coworking is community. It is a cummulative and intentional 
    | effort to build connection through a shared work environment and event 
    | space. Though typically comprised of startups, freelancers, and 
    | telecommuters, members of these free-form spaces find value in the human 
    | connection that coworking cultivates.
  h2 The Rise of Coworking Locally
  .block.twocol
    .block.col1
      p
        | Coworking in the Tri-Cities began when stay-at-home workers who 
        | struggled with isolation decided they needed to get out of the house. 
        | Several groups sprung up over the past few years, meeting in restaurants, 
        | coffeeshops, libraries, and other places with a wifi connection. However 
        | none of these places solved long term problems of noise, desk space, or 
        | the worry of leaving your things unattended.
      p
        | In 2012, the Tri-Cities saw the birth of its first coworking space,
        | "Room to Think". It offered a location, seating, wifi, and full events 
        | calendar (2 per week on average). Most importantly, Room to Think 
        | provided a place to call home for so many coworkers. Although widely 
        | considered a success, Room to Think closed its doors in 2013. It was a 
        | tremendous undertaking that paved the way for Fuse.
    .block.col2
      p: img.full(src="/images/fuse-r2t-library.jpg", alt="")
  .block.twocol
    .block.col1
      p
        | Since that time, many have joined the local coworking community, 
        | including a significant number of previous Room to Think members. Over 
        | 30 strong, these individuals saw the need and opportunity to create 
        | the next version of coworking in the Tri-Cities. The momentum, passion,  
        | and dedication of this core group produced Fuse.
    .block.col2
      p: img.full(src="/images/fuse-r2t-gorilla.jpg", alt="")
