section: .wrapper
  h1= pageTitle
  .block.fourcol
    blockquote.col1
      h3 Startup<br>Businesses
      p Giving birth to a new idea and looking for support and encouragement?
    blockquote.col2
      h3 Freelancers<br>&amp; Contractors
      p Work well alone but find yourself craving more connection?
    blockquote.col3
      h3 Remote<br>Workers
      p Need a place that isn't as isolating as your home office or living room?
    blockquote.col4
      h3 Community<br>Builders
      p Interested in our events or hosting your own for the community?
  hr
  p
    | Coworking has worked for so many. You can read about many who have shared 
    | their stories:
  p: a.btn(href="/stories") Coworking Stories &raquo;
