section.hero.home01(role='parallax'): .wrapper
  h1 A better Tri-Cities starts with you.
  h2 Let’s be productive together.
  .hr
  p
    a.btn(href='/coworking') What is coworking?
    a.btn(href='/fit') Is this for me?

section.stories.limited
  for s in [0,1,2,3]
    if story = stories[s]
      .story(class='story' + (s + 1))
        cite= story.label
        img(src='/images/stories/' + story.uri + '.jpg', alt='')
        .about
          dfn= story.title
          q= story.quote
        a.more(href='/stories/' + story.uri) Read this<br>Story
  hr
  p: a.btn.iconr.next.round.secondary.small(href='/stories') All Stories

!= partial('_sections/mailchimp')

section.hero.home02: .wrapper
  h1
    | "You have infinite potential...If you change 
    br
    | the world, the world will change."
  h2 &mdash;Neil Gaiman
