section: .wrapper
  h1= pageTitle

  h2 Your Privacy Rights
  p This Privacy Policy describes your privacy rights regarding our collection, use, storage, sharing, and protection of your personal information.  It applies to the http://www.fusespc.com/ “FUSE, SPC” website and all related sites, applications, services, and tools where this policy is referenced, regardless of how you access or use them.
  h2 Contents
  ul
    li Collection
    li Information Sharing and Registration with Social Media Websites
    li Use
    li Marketing
    li Our Disclosure of Your Information
    li Information You Share on FUSE, SPC
    li Cookies
    li No Spam, Spyware or Spoofing
    li Accessing, Reviewing and Changing Your Personal Information
    li Third Parties
  p By using FUSE, SPC and its related sites, application, services and tools, or registering for a FUSE, SPC account, you expressly consent to our collection, use, disclosure, and retention of your personal information as described in this Privacy Policy and in our User Agreement.
  p We may amend this Privacy Policy at any time by posting the amended terms on this site.  All amended terms automatically take effect 30 days after they are initially posted on the site. 
  p This Privacy Policy is effective on 10/1/2014, for current users, and upon acceptance for new users. 
  h2 Collection
  p You can browse our website without telling us who you are or revealing any personal information about yourself. If you register for an account with us, you give us your personal information, and you are not anonymous to us. If you choose to provide us with personal information, you consent to the transfer and storage of that information.
  p When you visit our website or use our applications, services, or tools, we collect information sent to us by your computer, mobile phone, or other access device.  This information is not associated with you personally unless you sign in as a registered user.
  p We may collect the following types of personal information in order to provide you with the use and access to our website, applications, services and tools:
  ul
    li email address, phone number, mobile telephone number, physical contact information,
    li financial information, such as credit card or bank account numbers, Pay pal Information, or other access you allow for paying your membership, when applicable 
    li transactional information based on your activities or use of our sites, in order to utilize our services, for billing, and other information you provide to take advantage of our space and resources
    li personal information you provide to us through community discussions, member information pages, correspondence, chats, dispute resolution, or shared by you from other social applications, services, or websites
    li additional personal information we ask you to submit to authenticate yourself or if we believe you are violating site policies
    li other supplemental information obtained if or as needed from third parties such as demographic and navigation data; and credit check information, and additional information about you from a credit bureau, as permitted by law
    li information from your interaction with our sites, services, content and advertising, including, but not limited to, device ID, device type, geo-location information, computer and connection information, statistics on page views, traffic to and from the sites, ad data, IP address and standard web log information
  h2 Information Sharing and Registration with Social Media Websites
  p We offer sign-on services that allow you to use third party login credentials to access the FUSE, SPC website. We also offer services that allow you to share information with third party social media websites such as Facebook, Google Plus, Twitter, and others.
  p You may choose to provide us with access to certain personal information stored by such third party websites. The personal information we have access to varies by website and is controlled by your privacy settings on that website and your consent.  By associating an account managed by a third party with your FUSE, SPC account and authorizing FUSE, SPC to have access to this information, you agree that FUSE, SPC may collect, use and store information from these websites in accordance with this Privacy Policy.
  h2 Use
  p Our primary purpose in collecting personal information is to provide you with access to our sites and our resources, and provide you with a safe, smooth, efficient, and customized experience. You agree that we may use your personal information to:
  ul
    li provide access to the site and the services and any customer support you may request;
    li resolve disputes, collect fees, and troubleshoot problems;
    li prevent, detect, and investigate potentially prohibited or illegal activities, and enforce our User Agreement;
    li customize, measure, and improve our services, content, and advertising; and
    li compare information for accuracy, and verify it with third parties;
  h2 Marketing
  p We do not sell or rent your personal information to third parties for their marketing purposes without your explicit written consent. We may combine your personal information with information we collect from other companies and use it to improve and personalize our services, content and advertising.
  h2 Our Disclosure of Your Information
  p We disclose personal information to respond to legal requirements, enforce our policies, respond to claims that a listing or other content violates the rights of others, or to protect anyone's rights, property, or safety. Such information will be disclosed in accordance with applicable laws and regulations.
  p We also share your personal information with:
  ul
    li Service providers under contract who help with our business operations (such as, but not limited to, fraud investigations, bill collection, site operations, and any co-branded or affiliate coworking locations).
    li Other third parties to whom you explicitly ask us to send your information (or about whom you are otherwise explicitly notified and consent to when using a specific service).
    li Law enforcement, governmental agencies, or authorized third-parties, in response to a verified request relating to a criminal investigation or alleged illegal activity or any other activity that may expose us, you, or any other FUSE, SPC user to legal liability. In such events, we will disclose information relevant and necessary to the investigation or inquiry, such as name, city, state, ZIP code, telephone number, email address, User ID history, IP address, fraud complaints, bidding and listing history, and anything else we may deem relevant to the investigation.
    li Credit bureaus. We may report information about your account to credit bureaus. Late payments, missed payments, or other defaults on your account may be reflected in your credit report.
  p Without limiting the above, in an effort to respect your privacy and our ability to keep the community free from bad actors, we will not otherwise disclose your personal information to law enforcement, other government officials, or other third parties without a subpoena, court order or substantially similar legal procedure, except when we believe in good faith that the disclosure of information is necessary to prevent imminent physical harm or financial loss or to report suspected illegal activity.
  h2 Information You Share on FUSE, SPC
  p Your User ID may be displayed on our site. Other people may be able to see your activity on our site and when they are present in our location. Notices sent to other community members about suspicious activity and policy violations on our sites refer to User IDs and specific items. So if you associate your name with your User ID, the people to whom you have revealed your name will be able to personally identify your site activity by the name you have disclosed.
  p If you access our sites from a shared computer or a computer in an Internet café, certain information about you, such as your User ID, activity, or reminders from our site, may also be visible to other individuals who use the computer after you.
  p You agree to use user information only for:
  ul
    li Networking and community growth;
    li using services offered through FUSE, SPC, or
    li other purposes that a user expressly allows of you.
  h2 Cookies
  p We use "cookies" (small data files placed within your computing device) on certain of our pages to help analyze our web page flow; customize our services, content and advertising; measure promotional effectiveness, and promote trust and safety. 
  p A few important things you should know about our use of these technologies are:
  ul
    li We offer certain features that are available only through the use of cookies.
    li We use cookies to help identify you and maintain your signed-in status.
    li Most cookies are "session cookies," meaning that they are automatically deleted from your hard drive at the end of a session.
    li You are always free to decline our cookies if your browser permits, although doing so may interfere with your use of some of our sites or services.
    li You may encounter cookies from third parties, known as service providers, that we have allowed on our site that assist us with various aspects of our web site operations and services
    li You also may encounter cookies from third parties on certain pages of the sites that we do not control and have not authorized. (For example, if you view a web page created by another user, there may be a cookie placed by that web page.).
  h2 No Spam, Spyware or Spoofing
  p We and our users do not tolerate spam. You are not licensed to add other FUSE, SPC users, even a user who has done business with you, to your mailing list (email or physical mail) without their express consent.  You may not use our communication tools to send spam or otherwise send content that would violate our User Agreement. We automatically scan and may manually filter messages to check for spam, viruses, phishing attacks, and other malicious activity or illegal or prohibited content, but we do not permanently store messages sent through these tools. 
  p Accessing, Reviewing and Changing Your Personal Information
  p Your password is the key to your account. Use unique numbers, letters, and special characters, and do not disclose your FUSE, SPC password to anyone. If you do share your password or your personal information with others, remember that you are responsible for all actions taken in the name of your account. If you lose control of your password, you may lose substantial control over your personal information and may be subject to legally binding actions taken on your behalf. Therefore, if your password has been compromised for any reason, you should immediately notify us and change your password.
  p You can see, review, and change most of your personal information by signing on to FUSE, SPC. Generally, we will not manually modify your personal information because it is very difficult to verify your identity remotely. You must promptly update your personal information if it changes or is inaccurate. Once you make a public posting, you may not be able to change or remove it. Upon your request, we will close your account and remove your personal information from view as soon as reasonably possible, based on your account activity and in accordance with applicable law. We do retain personal information from closed accounts to comply with law, prevent fraud, collect any fees owed, resolve disputes, troubleshoot problems, assist with any investigations, enforce our User Agreement, and take other actions otherwise permitted by law.
  h2 Third Parties
  p Except as otherwise expressly included in this Privacy Policy, this document addresses only the use and disclosure of information we collect from you. If you disclose your information to others, whether they are bidders, buyers or sellers on our sites or other sites throughout the internet, different rules may apply to their use or disclosure of the information you provide to them. We do not control the privacy policies of third parties, and you are subject to the privacy policies of those third parties where applicable. We encourage you to ask questions before you disclose your personal information to others.
