article
    background: #fff
    color: #4e5f62

section
    padding: 3em 20px

    a
        color: #30C0E0
        text-decoration: underline

    h1, h2, h3, h4
        color: #0e4e5c
        font-weight: 200
        line-height: 1em
    h1
        font-size: 3em
    h2
        font-size: 2em
    h3
        font-size: 1.5em
    h4
        font-weight: 600

    p
        line-height: 1.4em

    ul, ol
        li
            margin-left: 3em
    ul > li
        list-style: square
    ol > li
        list-style: decimal

    h1, h2, h3, h4, p, ul, ol, dl, blockquote, form, table, .input
        ~h1, ~h2, ~h3, ~h4, ~p, ~ul, ~ol, ~dl, ~blockquote, ~form, ~table
            margin-top: 2em
