footer
    font-size: .8em
    line-height: 60px
    min-height: 120px
    select(none)

    .branding
        display: block
        image_optimize()
        left: 20px
        position: absolute
        top: 20px
        img
            display: block
            height: 80px
            width: 257px

    .legal
        position: absolute
        right: 20px
        text-transform: uppercase
        top: 30px
        a
            margin: 0 0 0 1em
            text-decoration: underline
            &:hover,
            &:focus
                color: #FFE25F
