.btn,
button,
input[type="button"],
input[type="submit"]
    background: #FFE35F
    box_shadow(0 1px 1px rgba(#0e4e5c,.5))
    color: #0e4e5c
    display: inline-block
    font-size: 1.2em
    line-height: 50px
    padding: 0 1.5em
    position: relative
    select(none)
    text-align: center
    text-decoration: none

    + .btn,
    + button,
    + input[type="button"],
    + input[type="submit"]
        margin-left: .5em
