selection(#0e4e5c, #fff)

*:before,
*:after
    font-family: FontAwesome
    -webkit-font-smoothing: antialiased

body
    background: #144E5B
    color: #fff
    font: 20px Dosis, sans-serif
    font-weight: 400

strong,
strong *
    font-weight: 600
        
.wrapper
    margin: 0 auto
    max-width: 1200px
    position: relative
