selection(#0e4e5c, #fff)

*:before,
*:after
    font-family: FontAwesome
    -webkit-font-smoothing: antialiased

body
    background: #fff
    color: #404c4e
    font: 18px sans-serif
        
.wrapper
    margin: 0 auto
    max-width: 1200px
