section.map
    box_shadow(0 0 3em 1px rgba(#000, .2))
    padding: 0
    iframe
        width: 100%

@media screen and (min-width: 800px)
    section.map,
    section.map iframe
        height: 480px

@media screen and (max-width: 799px)
    section.map,
    section.map iframe
        height: 360px

@media screen and (max-width: 479px)
    section.map,
    section.map iframe
        height: 280px
